@{
    ViewData["Title"] = "Potwierdzenie adresu email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Aby kontynuować proszę potwierdzić adres email klikając link wysłany na podany adres email.
    </p>
</div>
