@model Recruiter.Models.JobPositionViewModels.AddJobPositionViewModel

@{
    ViewData["Title"] = "Add Job Position";
}

<h2>Add Job Position</h2>

<form asp-controller="JobPosition" asp-action="Add" method="post" class="form-horizontal" role="form">
    <h4>@*Enter the user details below*@</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ApplicationStagesRequirement.IsApplicationApprovalRequired" class="col-md-6 control-label"></label>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.ApplicationStagesRequirement.IsApplicationApprovalRequired)
            <span asp-validation-for="ApplicationStagesRequirement.IsApplicationApprovalRequired" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="ApplicationStagesRequirement.IsPhoneCallRequired" class="col-md-6 control-label"></label>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.ApplicationStagesRequirement.IsPhoneCallRequired)
            <span asp-validation-for="ApplicationStagesRequirement.IsPhoneCallRequired" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ApplicationStagesRequirement.IsHomeworkRequired" class="col-md-6 control-label"></label>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.ApplicationStagesRequirement.IsHomeworkRequired)
            <span asp-validation-for="ApplicationStagesRequirement.IsHomeworkRequired" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ApplicationStagesRequirement.IsInterviewRequired" class="col-md-6 control-label"></label>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.ApplicationStagesRequirement.IsInterviewRequired)
            <span asp-validation-for="ApplicationStagesRequirement.IsInterviewRequired" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@*@{
        ViewData["Title"] = "Add";
    }

    <h2>Add</h2>*@

