@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Zarządzanie rolami";
}

<h2>Zarządzanie rolami</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">Brak ról.</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>ID roli</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-id="@role.Id">Edytuj</a>
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć rolę?');">
                            Usuń
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-action="AddRole">Nowa rola</a>
</p>