@using Recruiter.Models.MyApplicationViewModels
@model IEnumerable<MyApplicationsViewModel>

@{
    ViewData["Title"] = "My Applications";
}

<h2>My Applications</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No applications</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="My applications">
        <tr>
            <th>Name</th>
            <th>Apply time</th>
        </tr>

        @foreach (MyApplicationsViewModel application in Model)
        {
            <tr>
                <td>
                    <a asp-action="MyApplicationDetails" asp-route-id="@application.Id" asp-route-returnurl="@Context.Request.Path">@application.JobPosition.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(model => application.CreatedAt)
                </td>
            </tr>
        }
    </table>
}