@model Recruiter.Models.MyApplicationViewModels.ScheduleInterviewAppointmentReminderViewModel

@{
    ViewData["Title"] = "ScheduleInterviewAppointmentReminder";
}

<h2>ScheduleInterviewAppointmentReminder</h2>

